<div class="create-user-container">
  <h2>Crear Usuario</h2>

  <form (ngSubmit)="createUser()" #userForm="ngForm">
    <div>
      <label>Nombre</label>
      <input type="text" [(ngModel)]="nombre" name="nombre" required>
    </div>

    <div>
      <label>Apellido</label>
      <input type="text" [(ngModel)]="apellido" name="apellido" required>
    </div>

    <div>
      <label>Usuario</label>
      <input type="text" [(ngModel)]="usuario" name="usuario" required>
    </div>

    <div>
      <label>Correo</label>
      <input type="email" [(ngModel)]="correo" name="correo" required>
    </div>

    <div>
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="contrasena" name="contrasena" required>
    </div>

    <div>
      <label>Rol</label>
      <select [(ngModel)]="rol" name="rol" required>
        <option [value]="1">Admin</option>
        <option [value]="2">Empleado</option>
      </select>
    </div>

   <button type="submit">Crear Usuario</button>
    <button type="button" (click)="goBack()">Volver</button>
    <button type="button" (click)="goBack()">Volver</button>
  </form>
</div>
