<div class="home-container">

  <h2>Bienvenido al Sistema</h2>

  <div class="card-container">

    <div class="card" (click)="openProductos()">
      <div class="icon">📦</div>
      <h3>Productos</h3>
      <p>Administrar inventario</p>
    </div>

    <div class="card" (click)="openUsuarios()">
      <div class="icon">👤</div>
      <h3>Usuarios</h3>
      <p>Administrar usuarios del sistema</p>
    </div>

    <div class="card" (click)="openCategorias()">
      <div class="icon">🗂</div>
      <h3>Categorías</h3>
      <p>Administrar categorías</p>
    </div>

  </div>

</div>
